<div class="modal-over bg-black">
	<div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
		<div class="thumb-lg">
			<img ng-src="{{app.avatar}}" class="img-circle">
		</div>
		<p class="h4 m-t m-b">{{vm.user.userName}}</p>
		<form ng-submit="vm.identify(vm.user)">
			<div class="input-group">
				<input type="password" class="form-control text-sm btn-rounded no-border" ng-model="vm.user.password" placeholder="密码" required>
				<span class="input-group-btn">
		        	<button class="btn btn-success btn-rounded no-border" type="submit"><i class="fa fa-arrow-right"></i></button>
				</span>
			</div>
		</form>
	</div>
</div>