.flex {    display: flex;}
.flex-row {  flex-direction: row;}
.row-reverse{    flex-direction: row-reverse;}
.column {  	flex-direction: column;}
.column-reverse {  flex-direction: column-reverse;}
.justify-center {  justify-content: center;}
.justify-start {  justify-content: flex-start;}
.justify-end {  justify-content: flex-end;}
.justify-between {  justify-content: space-between;}
.justify-around {  justify-content: space-around;}
.align-center {  align-items: center;}
.align-start {  align-items: flex-start;}
.align-end {  align-items: flex-end;}
.aligns-center {  align-content: center;}
.aligns-start {  align-content: flex-start;}
.aligns-end {  align-content: flex-end;}
.self-align-center {  align-self: center;  margin: 0 auto;}
.self-align-start {  align-self: flex-start;}
.self-align-end {  align-self: flex-end;}
.self-align-stretch {  align-self: stretch;}
.self-shrink {  flex-shrink: 0;}
.wrap {  flex-wrap: wrap;}
.nowrap {  flex-wrap: nowrap;}
.grow {  flex-grow: 1;}
.shrink {  flex-shrink: 1;}
.basis { flex-basis: auto;}
