<div class="bg-light lter b-b wrapper-md flex justify-between">
	<span class="m-n font-thin h2">{{vm.blockquote}}</span>
	<!--<button class="btn m-b-xs btn-md btn-info btn-addon" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus"></i>新增</button>-->
</div>
<div class="wrapper-md">

	<div class="panel panel-default ">
		<div class="panel-heading">{{vm.blockquote}}</div>
		<div class="table-responsive">
			<table class="table table-striped table-condensed m-b-none">
				<thead>
					<tr>
						<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)" ng-class="{sortable: column.sortable !== false}" colspan="{{column.colspan}}">
							{{column.label}}
							<i ng-if="column.name === vm.sort.column && vm.sort.direction" class="glyphicon {{vm.sort.direction|orderClass}}"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td><input type="text" class="form-control" placeholder='微信昵称' ng-model="vm.filter.nickName" /></td>
						<td><input type="text" class="form-control" placeholder='名字' ng-model="vm.filter.name" /></td>
						<td><input type="text" class="form-control" placeholder='联系方式' ng-model="vm.filter.phone" /></td>
						<td><input type="text" class="form-control" placeholder='会员编码' ng-model="vm.filter.membershipId" /></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
					</tr>
					<tr ng-repeat="item in vm.items|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
						<td>{{item.openId}}</td>
						<td>{{item.nickName}}</td>
						<td>{{item.name}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.membershipId}}</td>
						<td>{{item.registrationTime | date: 'yyyy-MM-dd HH-mm'}}</td>
						<td>
							<span class="btn btn-primary" data-toggle="modal" data-target="#primaryModal" data-id="{{item.openId}}">
					    		会员
					    	</span>
						</td>
						<td>
							<span class="btn btn-warning" data-toggle="modal" data-target="#updateModal" data-id="{{item.openId}}">
					    		编辑
					    	</span>
						</td>
						<td>
							<span class="btn btn-danger" data-toggle="modal" data-target="#removeModal" data-id="{{item.openId}}">
					    		删除
					    	</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-3 col-xs-12">
					<select ng-model="vm.page.size" class="form-control" title="每页条目数" ng-options="pageSize for pageSize in [5, 20, 100]" style="margin: 18px 0;">
					</select>
				</div>
				<div class="col-md-9 col-xs-12">
					<pagination total-items="vm.items|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true" rotate="false" num-pages="numPages">
					</pagination>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal fade " id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<!--新增-->
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">新增</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="create" ng-submit="vm.create(vm.New)">
					<div class="form-group">
						<label class="control-label col-md-2">名称</label>
						<div class="col-md-8">
							<select class="form-control" ng-model="vm.New.name" ng-option="item.id as item.name in item for vm.UserList">
								<option value="-- 请选择用户 --"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">简介</label>
						<div class="col-md-8">
							<input class="form-control" ng-model="vm.New.consultantIntroduction" required />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">是否推荐</label>
						<div class="col-sm-10">
							<label class="radio-inline i-checks">
				              	<input type="radio" name="status" ng-value="1" ng-model="vm.New.recommend" required><i></i> 不推荐
				            </label>
							<label class="radio-inline i-checks">
				              	<input type="radio" name="status" ng-value="2" ng-model="vm.New.recommend" required><i></i> 推荐
				            </label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="提交" form="create" />
				<span class="btn btn-info" ng-click="vm.reset()">重置</span>
				<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!--end新增-->
</div>
<!-- /.modal -->

<div class="modal fade " id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<!--修改-->
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">修改</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="update" ng-submit="vm.update(vm.Item)">
					<div class="form-group">
						<label class="control-label col-md-2">#</label>
						<p class="form-control-static col-md-8">{{vm.Item.openId}}</p>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">微信昵称</label>
						<p class="form-control-static col-md-8">{{vm.Item.nickName}}</p>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">名字</label>
						<p class="form-control-static col-md-8">{{vm.Item.name}}</p>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">联系方式</label>
						<p class="form-control-static col-md-8">{{vm.Item.phone}}</p>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">注册时间</label>
						<p class="form-control-static col-md-8">{{vm.Item.registrationTime| date: 'yyyy-MM-dd HH-mm'}}</p>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">积分</label>
						<p class="form-control-static col-md-8">{{vm.Item.integral}}</p>
					</div>
					<div class="form-group" ng-if="vm.Item.membershipId">
						<label class="control-label col-md-2">会员编码</label>
						<p class="form-control-static col-md-8">{{vm.Item.membershipId}}</p>
					</div>
					<div class="form-group" ng-if="vm.Item.membershipId">
						<label class="col-md-2 control-label">会员套餐</label>
						<p class="form-control-static col-md-8">{{vm.Item.roleName}}</p>
					</div>
					<div class="form-group" ng-if="vm.Item.membershipId">
						<label class="control-label col-md-2">开始时间</label>
						<p class="form-control-static col-md-8">{{vm.Item.memberStartTime| date: 'yyyy-MM-dd HH-mm'}}</p>
					</div>
					<div class="form-group" ng-if="vm.Item.membershipId">
						<label class="control-label col-md-2">结束时间</label>
						<p class="form-control-static col-md-8">{{vm.Item.memberStopTime| date: 'yyyy-MM-dd HH-mm'}}</p>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">咨询师</label>
						<div class="col-sm-10">
							<label class="radio-inline i-checks">
				              	<input type="radio" name="consultant" ng-value="1" ng-model="vm.Item.consultant" required><i></i> 不是
				            </label>
							<label class="radio-inline i-checks">
				              	<input type="radio" name="consultant" ng-value="2" ng-model="vm.Item.consultant" required><i></i> 是
				            </label>
						</div>
					</div>
					<div class="form-group" ng-if="vm.Item.consultant==2">
						<label class="col-sm-2 control-label">是否推荐</label>
						<div class="col-sm-10">
							<label class="radio-inline i-checks">
				              	<input type="radio" name="recommend" ng-value="1" ng-model="vm.Item.recommend" required><i></i> 不推荐
				            </label>
							<label class="radio-inline i-checks">
				              	<input type="radio" name="recommend" ng-value="2" ng-model="vm.Item.recommend" required><i></i> 推荐
				            </label>
						</div>
					</div>
					<div class="form-group" ng-if="vm.Item.consultant==2">
						<label class="control-label col-md-2">咨询简介</label>
						<div class="col-md-8">
							<input class="form-control" ng-model="vm.Item.consultantIntroduction" required />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="提交" form="update" />
				<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">删除</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="remove" ng-submit="vm.remove(vm.itemId)">
					<div class="form-group">
						<label class="col-sm-2 control-label"></label> 是否要删除？
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-danger" value="提交" form="remove" />
				<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">会员套餐</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="pay" ng-submit="vm.pay()">
					<div class="form-group">
						<label class="control-label col-md-2">会员套餐</label>
						<div class="col-md-8">
							<select class="form-control" ng-model="vm.membershipPackageId" ng-options="item.id as item.setMeal for item in vm.membershipPackageList" required>
								<option label="--全部套餐--"></option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-danger" value="提交" form="pay" />
				<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
